:root {
  --box-height: 50px;
  --box-width: 50px;
  --border-size: 5px;
  --font-size: 20px;
}

p {
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.app {}

.frame {
  box-sizing: content-box;
  border-color: black;
  border-style: solid;
  margin: 20px auto;
}

.row {
  margin: 0 auto;
}

.box {
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: var(--font-size);
  text-align: center;
  box-sizing: border-box;
  border-color: black;
  border-style: solid;
  float: left;
}

.empty {
  background-color: black;
}

.step {
  float: left;
  margin: 10px;
}

.lastLocation {
  background: yellowgreen;
}

.search-section {
  margin: 20px 20px;
  text-align: center;
  border: 20px solid black;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
