:root {
  --box-height: 50px;
  --box-width: 50px;
  --border-size: 5px;
  --font-size: 20px;
}

.app {}

.frame {
  box-sizing: content-box;
  height: calc(var(--box-height) * 4);
  width: calc(var(--box-width) * 4);
  border: var(--border-size) solid black;
  margin: 20px auto;
}

.row {
  height: var(--box-height);
  width: calc(var(--box-width) * 4);
  margin: 0 auto;
}

.box {
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: var(--font-size);
  text-align: center;
  height: var(--box-height);
  width: var(--box-width);
  box-sizing: border-box;
  border: var(--border-size) solid black;
  line-height: calc(var(--box-height) - 10px);
  float: left;
}

.empty {
  background-color: black;
}
